body {
  margin: 0px;
}

h1 {
  margin: 0;
}

div {
  background-color: #fff5e4;
}

.pro {
  text-decoration: underline;
}

/* .top-container {
  height: 200px;
  width: 200px;
  padding: 20px;
  border-color: black;
  border: 10px;
  border-style: solid;
}

.middle-container {
  background-color: red;
  margin-left: 260px;
  height: 200px;
  width: 200px;
  border-color: black;
  border: 20px;
  border-style: solid;
}

.bottom-container {
  background-color: blue;
  margin-left: 500px;
  height: 200px;
  width: 200px;
  border-color: black;
  border: 10px;
  border-style: solid;
} */
